{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="sidebar">
        <h3>Категории</h3>
        <ul>
            <!--<li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:product_list" %}">Все</a>
            </li>-->
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
    <h1>Выберите нужную категорию</h1>
    </div>
{% endblock %}