@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #5993bb;
}

a:hover {
    color: #77b6e2;
}

a.button, input[type="submit"] {
    color: #fff;
    background: #5993bb;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
}

a.button.light {
    color: #666;
    background: #ededed;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
    padding-bottom: 50px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

tbody tr:nth-child(odd) {
    background: #efefef;
}

tbody tr.subtotal {
    background: #ccc;
}

thead th, tbody tr.total {
    background: #5993bb;
    color: #fff;
    font-weight: bold;
}

table.cart {
    margin-bottom: 40px;
}

table.cart img {
    width: 180px;
}

tbody td.num {
    text-align: right;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

form p label, form p input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
    padding-bottom: 4px;
}

form p input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
}

ul.errorlist {
    float: left;
    color: #ff0000;
    clear: both;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 15px 100px 5px 100px;
    font-size: 18px;
    overflow: auto;
    background-color: rgb(229, 0, 89);
}

#subheader {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    background: #ececec;
    color: #444;
    padding: 15px 100px;
    overflow: auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float: left;
    color: snow;
    font-size: 28px;
    margin-right: 5%;
}

#header ul {
    color: snow;
}

#header ul li {
    display: inline;
}

.right_li {
    float: right;
}

.phone {
    font-size: 28px;
}

#subheader .cart {
    float: right;
    padding-top: 4px;
}

/*+++++++++++menu++++++++++++*/
#hor_menu {
    padding: 50px 10px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

nav {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    background: #3E4637;
    box-shadow: 0 2px 10px #999; /*0 3px 10px -2px rgba(0,0,0,.1);*/
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover {

    background: #F7F7F7 /*rgba(0,0,0,.15);*/
}

nav ul li:hover > ul {
    display: block;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: .7em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #1D1D1D;
}

nav ul ul {
    display: none;
    background: #3E4637;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

/*+++++++++++menu_end++++++++++++*/

#content {
    margin-top: 100px;
    padding: 0 100px;
    overflow: hidden;
    min-height: 800px;
}

#sidebar {
    width: 220px;
    padding: 30px 20px 0 0;
    float: left;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    margin: 0;
    list-style: none;
    padding: 10px 14px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li.selected {
    background: #5993bb;
    border-radius: 4px;
}

#sidebar ul li.selected a {
    color: #fff;
}

#main {
    float: left;
    width: 80%;
    /* margin-right:-100px;*/
    overflow: hidden;
}

.product-list .item {
    width: 25%;
    padding: 10px 20px 10px 0;
    float: left;
    text-align: center;
    line-height: 1.2;
}

.product-list .item img {
    width: 100%;
    margin-bottom: 8px;
}

.product-detail {
    text-align: justify;
}

.product-detail .price {
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.product-detail img {
    width: 40%;
    float: left;
    padding: 0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom: 0;
}

.product-detail h2 {
    margin-top: 10px;
}

.order-form {
    float: left;
}

.order-info {
    float: right;
    width: 300px;
    background: #efefef;
    padding: 10px 20px;
    color: #333;
    border-bottom: 4px solid #5993bb;
}

.order-info h3 {
    color: #5993bb;
}

.order-info ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.order-info p {
    font-weight: bold;
    float: right;
}

.order-info span {
    float: right;
}

.neg {
    color: #dc1616;
}

.languages {
    float: right;
    padding-top: 4px;
    font-size: 14px;
}

.languages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.languages ul li {
    float: left;
    margin: 0 0 0 10px;
    font-size: 14px;
}

.languages p {
    float: left;
    margin: 0;
}

.recommendations {
    clear: both;
}

.recommendations div {
    float: left;
}

.recommendations img {
    width: 200px
}

.recommendations p {
    clear: both;
}

.recommendations.cart {
    width: 60%;
    float: left;
    overflow: auto;
}

.recommendations.cart h3 {
    margin-top: 0;
}

.recommendations.cart .item {
    margin-right: 10px;
}

.recommendations.cart img {
    width: 120px;
}

#podval {
    height: 200px;
    background-color: #cccccc;
    padding: 10px 100px;
}

#podval_inner {
    width: 70%;
    height: 100%;
    margin: auto;
}

#podval_inner li {
    display: inline;
    padding-left: 50px;
}

#podval_inner li a {
    font-weight: bold;
    font-size: 15px;
    color: #333333;
}

#podval_inner li a:hover {
    color: #777777;
}

#podval_inner tr div h3 {
    font-weight: bold;
}

#copy_right {
    height: 50px;
    background-color: #efefef;
    padding: 15px 100px;
}

.copy {
    float: right;
}